version: '2'
services:
    neojhipster-app:
        image: neojhipster
        environment:
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATA_MONGODB_URI=mongodb://neojhipster-mongodb:27017
            - SPRING_DATA_MONGODB_DATABASE=neojhipster
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8080:8080
#    neojhipster-mongodb:
#        extends:
#            file: mongodb.yml
#            service: neojhipster-mongodb
